   /* inserindo Imagens no HTML */
   img {
      width: 50%; /* largura 100% */
      height: 40%; /* altura 100% */
      margin-left: 200pt;
   }
   img#logo {
      background-color: yellow;
      color: green;
   }

   img#html {
      width: 100px;
      height: 150px;
      margin-left: 350pt;
   }
   
   img#css {
      width: 100px;
      height: 150px;
      margin-left: 350pt;
   }

   img#javascript {
      width: 300px;
      height: 150px;
      margin-left: 250pt;
   }

   p#direita {
      margin-right: 350pt;
   }