
   body { /* corpo com o tamanho da fonte co 15 pontos */
      font-size: 15pt;
      background-color: rgb(61, 61, 226); /* fundo azul */
      color: white; /* letras brancas */
   }
   h1, h2 { /* cabeçalhos 1 e 2 alinhados ao centro */
      text-align: center;
   }
   .exp { /* classe exp */
      text-align: left; /* com o texto alinhado a esquerda */
      margin-left: 100px; /* margem esquerda com 100 pixel */
      margin-right: 200px; /* margem direita com 200 pixel */
   }
   p, h3 { /* seletores p e h3 */
      text-align: justify; /* alinhamento do texto justificado */
      font-family: Arial; /* tipo da fonte Arial */
      margin-left: 100px; /* margem esquerda com 100 pixel */
      margin-right: 100px; /* margem direita com 100 pixel */
   }
   pre {
      text-align: justify; /* texto justificado */
      background-color: white; /* fundo branco */
      color:blue; /* letras azuis */
      margin-left: 100px; /* margem esquerda com 100 pixel */
      margin-right: 100px; /* margem esquerda com 100 pixel */
   }
   strong { /* forte; define letra, palavra e/ou texto como importante */
      background-color: white; /* fundo com a cor branca */
      color: black; /* letras com a cor preta */
   }
   mark { /* marcas */
      background-color: rgb(255, 255, 255); /* cor do fundo branco */
      color: red; /* cor das letras vermelhas */
   }
   code { /* tag code - código */
      background-color: yellow; /* cor do fundo amarelo */
      color: black; /* cor das letras preta */
   }
   li, dd, dt{
      background-color: white;
      color: black;
      margin-left: 80pt;
      margin-right: 100pt;
      padding: 10px;
   }
   b {
      background-color: white;
      color: rgb(206, 62, 182);
   }
   table {
      border-collapse: collapse;
      background-color: white;
      color: black;  
      width: 100%;     
   }
   caption {
      background-color: yellow;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      padding: 5pt;
   }
   th, td {
      border: 1px solid black;
      padding: 5px;
   }
   th.opera, td.opera {
      text-align: center;
   }
   form {
      background-color: aqua;
      color: blue;
      margin-left: 100px;
      margin-right: 500px;
      padding: 15px;
   }
   label {
      font-size: 25px;
   }
   p#obs {
      background-color: yellow;
      color: black;
   }
   input {
      border: 1px solid black;
      padding: 8px;
   }
   button {
      padding: 8px;
   }
   button#left {
      margin-left: 480px;
   }
   *#left2 {
      margin-left: 450px;
   }
   blockquote {
      text-align: justify;
      padding: 8px;
      margin-left: 150%;
      margin-right: 100%;
   }
   address {
      margin-left: 10%;
   }