
   body {
      background-color: rgb(61, 61, 226);
      color: white;
   }

   p, h3 {
      font-family: Arial;
      font-size: 15pt;
      margin-left: 100px;
      margin-right: 100px;
   }
   h1, h2, h3, h4, h5, h6 {
      text-align: center;
   }
   pre {
      background-color: rgb(157, 193, 248);
      color: blue;
      text-align: center;
      font-size: 15pt;
      font-family: 'Arial';
      margin-left: 100px;
      margin-right: 100px;
   }
   strong {
      background-color: white;
      color: black;
   }
   mark {
      background-color: rgb(255, 255, 255);
      color: red;
   }
   code {
      background-color: yellow;
      color: black;
   }
   li, dd, dt{
      background-color: white;
      color: black;
      font-size: 15pt;
      margin-left: 80pt;
      margin-right: 400pt;
   }
   b {
      background-color: white;
      color: rgb(206, 62, 182);
   }
   