
body {
   background-color: rgb(61, 61, 226);
   color: white;
}
h1, h2 {
   text-align: center;
}
p, h3 {
   font-family: Arial;
   font-size: 15pt;
   margin-left: 100px;
   margin-right: 100px;
}
pre {
   background-color: rgb(226, 221, 214);
   color: blue;
   font-size: 15pt;
   font-family: 'Arial';
   margin-left: 100px;
   margin-right: 300px;
}
strong {
   background-color: white;
   color: black;
}
mark {
   background-color: rgb(255, 255, 255);
   color: red;
}
code {
   background-color: yellow;
   color: black;
}
li, dd, dt{
   background-color: white;
   color: black;
   font-size: 15pt;
   margin-left: 80pt;
   margin-right: 400pt;
}
b {
  /* background-color: white;*/
   color: rgb(206, 62, 182);
}
table {
   background-color: white; /* Cor do fundo branca */
   color: black;    /* Cor das letras preta */
   width: 100%;     /* largura da tabela 100% */
}
caption {
   background-color: yellow;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18pt;
   padding: 5pt 5pt 5pt 5pt;
}
th, td {
   font-size: 18pt;
   padding: 5pt 5pt 5pt 5pt;
   border: 1pt solid black;
   border-collapse: collapse;
}